{% load static %}
<head>
  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Bootstrap Core JavaScript -->
  <link href="{% static "core/css/accounts.css" %}" rel="stylesheet">

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static "core/js/accounts.js" %}"></script>

  <!-- Particles -->
  <link href="{% static "core/css/particles.min.css" %}" rel="stylesheet">

  <style>
  .btn-success {
    background-color: #420C7F !important;
    border-color: #420C7F !important;
  }
  a {
    color: white !important;
  }
  </style>

</head>


<body>
<div id="particles-js"></div>
    <div class="container login">
      <div class="text-center">
          <img style="margin: 0 auto; width: 20%;" src="{% static 'core/logo.png' %}">
      </div>
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">Please register.</div>
                </div>

                <div class="panel-body" >
                    <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="vpassword" type="password" class="form-control" name="vpassword" placeholder="Repeat Password" required>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls login-btn">
                                <button type="submit" href="#" class="btn btn-success btn-log"><i class="glyphicon glyphicon-plus"></i> Register</button>
                            </div>
                        </div>

                        <div class="errors">
                            {% for field in form %}
                            {{field.errors}}
                            {% endfor %}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Particles -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "core/libraries/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "core/libraries/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "core/js/creative.min.js" %}"></script>
    <script src="{% static "core/js/particles.min.js" %}"></script>


</body>
